[Desktop Entry]
Type=Application
Name=Zoiper Softphone
Comment=Zoiper Softphone
Exec=/opt/Zoiper64/zoiper
Icon=/opt/Zoiper64/zoiper.png
Terminal=false
MimeType=text/x-arduino
