#Este arquivo eh gerado automaticamente pelo Puppet, nao adianta editar.
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Ftool 4.0
Comment=Ferramenta de cálculo de estruturas
Exec=wine /usr/local/bin/Ftool.exe
Icon=/usr/share/icons/ftoolicon.png
Terminal=false
Type=Application
Categories=Development
